/******************************************
/* CSS
/*******************************************/
/* CSS Reset & Box Model Hack */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

/* ----------------------- Reset font to 10px per 1rem ----------------------- */
html {
   font-size: 62.5%;
}

body {
   background: linear-gradient(#0000004f, #0000004f),
      url("../img/bg2.jpg") center center/cover no-repeat;
   height: 100vh;
   overflow-y: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.container {
   margin: auto;
   width: 94%;
}

img {
   width: 12rem;
   display: block;
   margin: auto;
}

.contentLeft div:first-child img,
.contentLeft div:nth-child(14) img {
   width: 7rem;
}

.contentLeft div:nth-child(4) img,
.contentLeft div:nth-child(7) img {
   width: 9rem;
}

span {
   display: block;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
}

/* ----------------------- Anime Selection boxes ----------------------- */
.box {
   width: 15rem;
   padding: 1rem;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
}

.contentLeft .box {
   cursor: pointer;
}

/* .box.active {
   background: rgba(151, 3, 3, 0.192);
} */

.frostedGlass {
   background: rgba(255, 255, 255, 0.192);
   backdrop-filter: blur(2px);
   border-radius: 1rem;
}

.contentLeft .frostedGlass:hover {
   background: rgba(3, 67, 151, 0.425);
   /* border: 1px solid rgba(3, 67, 151, 0.918); */
}

.contentLeft .frostedGlass.active {
   background: rgba(3, 67, 151, 0.589);
   /* background: rgba(255, 255, 255, 0.644); */
   border: .2rem solid rgb(3, 67, 151);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
   margin: 1rem auto 0 auto;
   width: 60rem;
}

header h1 {
   text-align: center;
   margin: 0;
   padding: 1rem;
   font-size: 3rem;
}

/* ----------------------- Equal area for content on the left and right ----------------------- */
main {
   display: flex;
   flex-direction: row;
   padding-top: 3rem;
}

main > div {
   flex: 1;
}

/* ----------------------- Display anime selection in a grid ----------------------- */
.contentLeft {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
}

/* ----------------------- set the size of video box ----------------------- */
.contentRight .box {
   width: 100%;
}

/* ----------------------- Align the content to v/h center ----------------------- */
.contentRight {
   margin-left: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contentRight video {
   width: 100%;
   margin: auto;
}
